{% extends 'base.html.twig' %}

{% block title %} BlogMaster - Inscription {% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Enregistrement</h1>

    <div class="container-fluid">
        <div class="form-check-inline">
            {{ form_start(registrationForm) }}
        </div>
        <div class="form-check-inline">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-check-inline">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>
        <p class="form-check">
            {{ form_row(registrationForm.agreeTerms) }}
        </p>

        <button type="submit" class="btn btn-success">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
